.vscode/**
.vscode-test/**
out/**
# have to include node_modules because of external webpackmodules to
# be added by vsce package --dependencies
#node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.github/**
patches/**
scripts/**

# instance files
connection_state.json
azure-pipelines.yml
